/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: rgb(20, 21, 21);
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  .navbar {
    background: #007bff;
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navbar .navbar-nav {
    display: flex;
    list-style: none;
  }
  
  .navbar .nav-item {
    margin-left: 1rem;
  }
  
  .navbar .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar .nav-link:hover {
    color: #ffdf00;
  }
  
  .hero {
    background: url("image3.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    text-align: center;
  }
  
  .hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    animation: fadeIn 2s ease-in-out;
  }
  
  .hero-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .section {
    padding: 60px 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .about-item,.Internship-item, .Education-item, .Skills-item, .project-item, .contact-item{
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-in-out;
    
  }
  
  .contact a {
    color: #007bff;
    text-decoration: none;
  }
  
  .contact a:hover {
    text-decoration: underline;
  }
  
  #typing-animation {
    display: inline-block;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5rem;
    animation: typing 3s steps(30, end) infinite, blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgba(255, 255, 255, 0.75); }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive Styles */
  @media (max-width: 991.98px) {
    .navbar .navbar-nav {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar .nav-item {
      margin-left: 0;
      margin-bottom: 0.5rem;
    }
  }
  